{% extends '1.html' %}
{% block title %}
{{tech_info.logo}} {{tech_info.title_contacts}}
{% endblock %}

{% block center %}


{% if tech_info.email%}
<div align="right">
<a href="mailto:{{tech_info.email}}"><h4>{{tech_info.email}}</h4></a>
</div>
{% endif %}


{% if all_is_right %}
<br>
<div align="right">
<h4>{{ all_is_right }}</h4>	
</div>
{% endif %}


<div align="center">
<br>
<br>
{{tech_info.contacts_text|safe}}
<br>
<br>
<div style=" padding-right: 90px ">

<div style=" padding-left: 90px ">

{% if form.errors %}
<p style="color: red;">
{{tech_info.please_correct_errors}}
   
</p>
{% endif %}
</div>

<form action="" method="post">  {% csrf_token %}
<table>

<tr>    
<td class="align">{{tech_info.label_contacts_name}}</td> <td>{{form.name}} {{form.name.errors}}</td>
</tr>

<tr>    
<td class="align">{{tech_info.label_contacts_email}}</td> <td>{{form.email}} {{form.email.errors}}</td>
</tr>

<tr>    
<td class="align">{{tech_info.label_contacts_subject}}</td> <td>{{form.contact_subject}} {{form.contact_subject.errors}}</td>
</tr>

<tr>    
<td style="text-align: center;">{{tech_info.label_contacts_text}}</td> <td>{{form.text}} {{form.text.errors}}</td>
</tr>

<tr>    
<td></td> 

<td style="text-align: center;">
<input type="submit"  class="btn btn-inverse" 
value="{{tech_info.label_button_contacts_in_page}}">	
</td>
</tr>
</table>

</form>
</div>

</div>
<br>
<br>
<br>
<br>
{% endblock %}
